<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory - Login</title>
</head>
<body>

    <div>
        <form>
            <label class="username-label" for="username">
                Username: <input name="username" type="text">
            </label>
            

            <label class="password-label" for="password">
                Password: <input name="password" type="text">
            </label>
            
        </form>

        <span>
            <a><button>New User</button></a>
            <a><button>Sign In</button></a>
        </span>
        
    </div>
    
</body>
</html>